/* Signin.HTML */

.header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 140px;
}

.logopic {
    justify-content: center;
    margin: 5px auto;
}

/* sign in */

.logo {
    font-family: 'Freckle Face', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    padding: 20px 0;
}

form {
    font-family: 'Quicksand', sans-serif;
}

button {
    margin-left: 120px;
}

.signinpic {
    display: flex;
    justify-content: center;
}

.main {
    width: 200px;
    height: 150px;
    margin-top: 15px;
}


/* PROFILE.HTML */

header {
    font-family: 'Freckle Face';
}


.logo {
    font-size: 1.5em;
}

.search,
.logopic,
.message {
    width: 35px;
    height: 35px;
}

.logopick {
    margin-left: 50px;
    margin-top: 10px;
}

.message {
    display: flex;
    justify-content: space-between;
}

.weather {
    width: 65px;
    height: 65px;
    margin-right: -18px;
    margin-top: -23px;
}

/* Mobile button */

.mobile-button {
    width: 35px;
    height: 5px;
    background-color: #bf7d40;
    margin: 3px 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    padding: 20px 0;
}

.row1,
.row2 {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

p,
h2,
h3 {
    font-family: 'Quicksand';
}

.mainuserpic {
    width: 200px;
    height: 150px;
    border: 3px solid black;
}

.profilepic {
    display: flex;
    justify-content: center;
}

.profiletext {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.profile {
    width: 60%;
    font-size: .9em;
    margin: 20px;
}

.available {
    width: 30%;
    height: 200px;
    margin: 20px;
    font-size: .8em;
}

footer {
    display: flex;
    justify-content: center;
    font-size: .5em;
    font-weight: bold;
    color: #86582d;
}

h2 {
    color: #bf7d40;
    /* light brown */
}

.navbar {
    display: none;
}

.form-group {
    font-family: 'Freckle Face', sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

@media only screen and (min-width: 768px) {

    .mainuserpic {
        width: 400px;
        height: 300px;
    }

    .navbar {
        display: none;
    }

    .form-group {
        margin-top: 10px;
    }

}

@media only screen and (min-width: 1200px) {
    .mobile-button {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: center;
    }

    li {
        list-style-type: none;
        justify-content: center;
        font-family: 'Quicksand', sans-serif;
        padding: 0px 50px;
    }


    footer {
        font-size: 1em;
    }


}
